.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.nav-container h3{
    color: black;
}
.nav-container ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-container ul li{
    margin:  0 10px;
}
.nav-container ul a{
    color: black;
    text-decoration: none;
}
.right-cartIcon{
    display: flex;
    background-color: #F59E0D;
    border-radius: 20px;
    padding: 3px 10px;
    align-items: center;
    color: black;

}
.right-cartIcon img{
    width: 20px;
    height: 20px;
    margin-left: 3px;
}
